.loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
    height: 100%;
    background-color: var(--darkgrey);
    color: var(--blue);
    z-index: 1000;
    position: fixed;
   overflow-y: hidden;
   overflow-x: hidden;
   position: fixed;

  

}